.homebotanime{
  width: 100%;
display: flex;
float: left;
}
.homebotanime .home-text{
  margin-top: 100px;
  margin-left: -100px;
  font-size: 50px;
  width: 50%;
  font-weight: bolder;

}
.registernow a{
font-size: 30px;
background-color: #00e787;

text-decoration: none;
color: white;
padding: 4px 4px 4px 4px;
border-radius: 5px;

margin-left: 100px;
}

.navbar img{
  height: 60px;
  width: 170px;
}
.btn-shine{
  box-shadow: rgb(49, 49, 49) 0px 20px 30px -5px;

  color: #ffffff;
  background-color: rgb(0, 209, 105);
  animation: shine 5s infinite linear;
  text-decoration: none;
  font-size: 27px;
  padding: 10px;
  border-radius: 5px;
}
.btn-shine:hover{
  text-decoration: none;
  color: white;
  box-shadow: 0px 49px 94px 3px rgb(0, 0, 0);

}

.home-container{
  background: linear-gradient(45deg , #7800af, #25008b);
  height: 600px;
}
.homebotanime img{
  height: 580px;
  width: 800px;
}
.navbar{
  background: linear-gradient(45deg , #e3c1ff,#4200ad, #4200ad);

  
}
.techforkids h1{
  color: #4200ad;
}
.what-we-offer-text{
  background-color: #e3c1ff;
 color: #4c008a;
}

.navbar a{
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
   margin-left: 80px;
   font-weight: 500;
}
.nav-item{
  color: rgb(255, 255, 255);

}
.qunobot-text{
    
    margin-left: 150px;
    color: darkcyan;
    font-size: 30px;
   font-weight: bolder;  
}



.register form{
  background: linear-gradient(to bottom,rgb(118, 0, 187),rgb(0, 14, 207));
 color: rgb(255, 255, 255);
 padding: 30px 30px 30px 30px;

 margin-top: 20px;
margin-left: 60px;
margin-bottom: 20px;
 width: 75%;
font-size: 25px;
 box-shadow: rgb(49, 49, 49) 0px 20px 30px -5px;

 background-size: 400% 400%;

}

.register form input{
  border-radius: 20px 20px 20px 20px;
}
.register form button{
  font-size: 30px;
color: white;
}
.free-session{
  background: linear-gradient(45deg,violet,rgb(255, 0, 157));
}

.future-world{
font-weight: bolder;
    color: #4200ad;
    text-shadow: 0px 5px 10px #4200ad;
    margin-left: 100px;
}
.future-world:hover{
  color: #05b0ff;
    text-shadow: 0px 5px 10px #05b0ff;
}
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
.techforkids .provide-text{
 color: #6f00ca;

}

@media only screen and (max-width: 1080px){
  .home-container{
   width: 100%;
    display: block;
  }
  .offer .card{
 
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  }
 
  
  .kids-learn .card{
    height: 350px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
   margin-top: 0px;
   background-color: white;
margin-left: 0px;
   width: 90%;
  }

  .profile-card-4{
    height: 200px;
    width: 100%;
  }
  .btn-shine{
    font-size: 20px;
  }
  .techforkids .provide-text{
    background-color: #7800af;
   color: white;
   border-radius: 10px;
   box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  }
  .profile-card img{
    margin-left: -100px;
  }
 .profile-card .profile-name1{
    margin-top: 100px;
  }
 
  .homebotanime{
    width: 100%;
    margin-left: 10px;
  }
  .homebotanime img{
    display: none;
  }
  .homebotanime .home-text{
    margin-left: 0px;
    font-size: 40px;
    width: 85%;
  }
  .home-container{
    background: linear-gradient(45deg , #7800af, #25008b);
  }

.offer{
  display: flex;
  float: left;
  background-color: #f7e4ff;

}

  .register form{
width: 95%;
margin-left: 5px;
height: 100%;
  }
  }

  .courses{
    background-color: rgb(237, 230, 255);
    padding-bottom: 50px;
  }
  /*#4200ad*/
  .courses .card{
    border-radius: 10px 10px 10px 10px;
    box-shadow: rgb(49, 49, 49) 0px 20px 30px -5px;
    width: 350px;
   
    background: linear-gradient(45deg , #7800af, #4200ad);
    color: white;
    margin-top: 30px;
    margin-left: 30px;
   
  }
  .card img{

    height: 270px;
    
  }
  .kids-bg{
    background-color: rgb(231, 225, 255);
    margin-top: 30px;
    padding: 30px 30px 30px 30px;
  }
  .profile-card-2 {
    max-width: 300px;
    background-color: #FFF;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.1);
    background-position: center;
    overflow: hidden;
    position: relative;
    margin: 10px auto;
    cursor: pointer;
    border-radius: 10px;
}

.profile-card-2 img {
    transition: all linear 0.25s;
    height: 300px;
    box-shadow: rgb(49, 49, 49) 0px 20px 30px -5px;
}

.profile-card-2 .profile-name {
    position: absolute;
    left: 30px;
    bottom: 70px;
    font-size: 30px;
    color: rgb(255, 255, 255);
    text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
    font-weight: bold;
    transition: all linear 0.25s;
}

.profile-card-2 .profile-icons {
    position: absolute;
    bottom: 30px;
    right: 30px;
    color: #FFF;
    transition: all linear 0.25s;
}

.profile-card-2 .profile-username {
    position: absolute;
    bottom: 50px;
    left: 30px;
    color: #FFF;
    font-size: 13px;
    transition: all linear 0.25s;
}

.profile-card-2 .profile-icons .fa {
    margin: 5px;
}

.profile-card-2:hover img  {
   /* filter: grayscale(100%); */
   filter: grayscale(100%) brightness(40%) sepia(100%) hue-rotate(-50deg) saturate(600%) contrast(0.8) blur(4px);
   box-shadow: 0px 20px 30px -5px;

}

.profile-card-2:hover .profile-name {
    bottom: 80px;
    color: white;
   
}

.profile-card-2:hover .profile-username {
    bottom: 60px;
   
}

.profile-card-2:hover .profile-icons {
    right: 40px;
  
}

.profile-card {
  max-width: 600px;
  background-color: #FFF;

  background-position: center;
  overflow: hidden;
  position: relative;
  margin: 10px auto;
  cursor: pointer;

}

.profile-card img {
  transition: all linear 0.25s;
  height: 600px;
  width: 600px;
  margin-top: 30px;
}


.profile-card .profile-name1{
  position: absolute;
  left: 60px;
 bottom: 500px;
  font-size: 50px;
  color: rgb(68, 0, 146);
  text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
  font-weight: bolder;
  transition: all linear 0.25s;
}

.profile-card .profile-icons {
  position: absolute;
  bottom: 30px;
  right: 30px;
  color: #FFF;
  transition: all linear 0.25s;
}

.profile-card .profile-username {
  position: absolute;
  bottom: 100px;
  left: 50px;
  color: rgb(84, 0, 180);
  font-size: 30px;
  font-weight: bold;
  transition: all linear 0.25s;
}

.profile-card .profile-icons .fa {
  margin: 5px;
}

.profile-card:hover img {
 /* filter: grayscale(100%); */

 box-shadow: 0px 20px 30px -5px;
}

.profile-card:hover .profile-name {
  bottom: 80px;
  
}

.profile-card:hover .profile-username {
  bottom: 60px;
}

.profile-card:hover .profile-icons {
  right: 40px;
}


.provide-text{
margin-top: 70px;
  padding: 10px 10px 10px 10px;
  color: black;
 
}



.offer .card{
  height: 500px;
  margin-top: 50px;

  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.profile-card-4 {
  max-width: 400px;

  border-radius: 5px;
  box-shadow: 0px 0px 25px 7px rgba(0, 0, 0, 0.1);
  overflow: hidden;
margin-left: 0px;
position: relative;
  margin: 10px auto;
  cursor: pointer;
  height: 545px;
  margin-top: 50px;
  background-color: #ffffff;
}

.profile-card-4 img {
  transition: all 0.25s linear;
  
}

.profile-card-4 .profile-content {
  position: relative;
  padding: 15px;
  background-color: #FFF;
}

.profile-card-4 .profile-name {
  font-weight: bold;
  position: absolute;
  left: 0px;
  right: 0px;
  top: -70px;
  color: #FFF;
  font-size: 37px;
}

.profile-card-4 .profile-name p {
  font-weight: 600;
  font-size: 13px;
  letter-spacing: 1.5px;
}

.profile-card-4 .profile-description {
  color: rgb(80, 0, 172);
  font-size: 20px;
  padding: 15px;
}

.profile-card-4 .profile-overview {
  padding: 15px 0px;
}

.profile-card-4 .profile-overview p {
  font-size: 10px;
  font-weight: 600;
  color: #777;
}

.profile-card-4 .profile-overview h4 {
  color: #273751;
  font-weight: bold;
}

.profile-card-4 .profile-content::before {
  content: "";
  position: absolute;
  height: 20px;
  top: -10px;
  left: 0px;
  right: 0px;
  background-color: #FFF;
  z-index: 0;
  transform: skewY(3deg);
}

.profile-card-4:hover img {
  transform: rotate(5deg) scale(1.1, 1.1);
  filter: brightness(110%);
}

.kids-learn .card{
height: 350px; 
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
 margin-top: 30px;
 background-color: white;

 width: 230px;
}
.kids-learn .col-md-2{

  margin-left: 30px;
}
.our-educators button{
  background-color: #7800af;
  color: white;
  font-size: 30px;
}
.our-educators{
  margin-top: 100px;
  text-align: center;
}

.why-stem{
  margin-top: 50px;
  color: #7800af;
}
.why-stem .row{
 
  color: black;
}
.why-stem .stem-col{
margin-top: 50px;
}
.why-stem button{
  background-color: #7800af;
  font-size: 30px;
  color: white;
 
}
.why-stem button .fa-pen-to-square{
  margin-right: 10px;
}


 
  





