.registration-form form{
 

    font-size: 20px;
  }
  .teacher-form input{
    font-size: 17px;
  
   
  }
  .side-form{
    background-color: rebeccapurple;
    width: 500px;
padding: 40px;
border-radius: 10px;
  }
  .side-form label{
    color: white;
  }
  .side-form input{
    margin-top: 5px;
  }

  .teacher-form button{
      font-size: 25px;
  }
  .side-img {
    margin: 4% 5% 0 0;
    overflow: hidden;
  }
  
  .side-img img {
    margin: 4% 5% 0 0;
   width: 100%;
    height: 80%;
    max-width: 100%;
    display: block;
  }
  .contactus-form{
    font-family: Arial, Helvetica, sans-serif;
  }